-var square = ["square.png", "Square", "How long is each side of your square?", "InputCuadrado", "outputCuadrado", "calcularPerimetroCuadrado()", "calcularAreaCuadrado()"]
-var circle = ["circle.png", "Circle", "What is the radio of your circle?", "InputCirculo", "outputCirculo", "calcularPerimetroCirculo()", "calcularAreaCirculo()"]

mixin caja(img, nombre, pregunta, id, output, funcionPerimetro, funcionArea)
    section.box
        .box--title
            img(src="../media/" + img)
            span #{nombre}
        .box--question
            span=pregunta
        form(class="box--form" action="")
                input(class="box--input" id=id type="number") 
                .box--buttons
                    button(class="box--button" type="button" onclick=funcionPerimetro) Get perimeter 
                    button(class="box--button" type="button" onclick=funcionArea) Get area
                span(id=output)

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        title Geometry bot
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet")
    body 
        header.main--header
            img(src="../media/geometry.png" class="header--logo") 
            h1.header--title Geometry Bot
        p.header--description Calculate the area or perimeter automatically for this geometric figures
        
        main.main
            +caja(square[0], square[1], square[2], square[3], square[4], square[5], square[6])

            section.box
                .box--title
                    img(src="../media/triangle.png")
                    span Triangle
                .box--question
                    span What are the measurements of your triangle?
                form(class="box--form" action="")
                        label(for="InputTriangleSideA") Side A 
                        input(class="box--input" id="InputTriangleSideA" type="number") 
                        label(for="InputTriangleSideB") Side B
                        input(class="box--input" id="InputTriangleSideB" type="number")
                        label(for="InputTriangleBase") Base
                        input(class="box--input" id="InputTriangleBase" type="number")
                        label(for="InputTriangleHeight") Height
                        input(class="box--input" id="InputTriangleHeight" type="number") 
                        .box--buttons
                            button(class="box--button" type="button" onclick="calcularPerimetroTriangulo()") Get perimeter 
                            button(class="box--button" type="button" onclick="calcularAreaTriangulo()") Get area
                        span(id="outputTriangulo")

            +caja(circle[0], circle[1], circle[2], circle[3], circle[4], circle[5], circle[6])
    

        script(src="../figuras.js") 